= form_tag(t('routes.searches'), :method => 'get') do
  - if !@congressmen.blank? and !@congressmen.persons.blank?
    %div.form-group
      = label_tag :name, t('congressmen.form_name')
      = select_tag "name", options_from_collection_for_select(@congressmen.persons, "name", "name", params[:name]), prompt: t('congressmen.placeholder_name'), class: 'form-control chosen'

  %div.form-group
    = label_tag :zone, t('congressmen.form_zone')
    = text_field_tag :zone, params[:zone], :class => 'form-control', :placeholder => t('congressmen.placeholder_zone'), :onfocus => "ga('send','congressmen_filters','focus_zone')"

  %div.form-group
    = label_tag :chamber, t('congressmen.form_chamber')
    %select{:name => "chamber", :class => "form-control", :onfocus => "ga('send','congressmen_filters','focus_chamber')"}
      %option{:value => "", selected: params[:chamber] == ""}= 'Todas las cámaras'
      %option{:value => "Diputado", selected: params[:chamber] == "Diputado"}= 'Cámara de diputados'
      %option{:value => "Senador", selected: params[:chamber] == "Senador"}= 'Senado'

  %div.form-group
    = label_tag :organizations, t('congressmen.form_party')
    = select_tag "organizations", options_from_collection_for_select(@organizations, "id", "name", params[:organizations]), prompt: t('congressmen.placeholder_party'), class: 'form-control'

  %input{"type" => "hidden", "name" => "congressmen", "value" => 2}

  %button.btn.btn-primary.pull-right.btn-lg
    Buscar

:javascript
  $(document).ready(function(){
    $(".chosen").chosen();
  });