= form_tag(t('routes.searches'), :method => 'get') do
  %div.form-group
    = label_tag :name, t('congressmen.form_name')
    = text_field_tag :name, params[:name], :class => 'form-control', :placeholder => t('congressmen.placeholder_name'), :onfocus => "ga('send','congressmen_filters','focus_name')"

  %div.form-group
    = label_tag :region, t('congressmen.form_region')
    = text_field_tag :region, params[:region], :class => 'form-control', :placeholder => t('congressmen.placeholder_region'), :onfocus => "ga('send','congressmen_filters','focus_region')"

  %div.form-group
    = label_tag :chamber, t('congressmen.form_chamber')
    %select{:name => "chamber", :class => "form-control", :onfocus => "ga('send','congressmen_filters','focus_chamber')"}
      %option{:value => "", selected: params[:chamber] == ""}= 'Todas las cámaras'
      %option{:value => "Diputado", selected: params[:chamber] == "C.Diputados"}= 'Cámara de diputados'
      %option{:value => "Senador", selected: params[:chamber] == "Senado"}= 'Senado'

  %div.form-group
    = label_tag :organizations, t('congressmen.form_party')
    = select_tag "organizations", options_from_collection_for_select(@organizations, "name", "name", params[:organizations]), prompt: "Selecciona un partido político", class: 'form-control'

  %input{"type" => "hidden", "name" => "congressmen", "value" => 2}

  %button.btn.btn-primary.pull-right.btn-lg
    Buscar

:javascript
  $(document).ready(function(){
    $(".chosen").chosen();
  });