%div.row
  %div.col-md-7
    %ol.breadcrumb
      %li
        = link_to t('layout.home'), root_path
      %li.active
        = link_to t('congressmen.breadcrumb'), congressmen_path
  %div.col-md-5
    %ul.list-inline
      %li
        %a{'href'=>'#'}
          %i.fa.fa-facebook
          = link_to t('congressmen.fb_share')
      %li
        %a{'href'=>'#'}
          %i.fa.fa-twitter
          = link_to t('congressmen.tw_share')

%div
  %h4
    = link_to t('congressmen.title')

%div.row
  %div.col-md-3.aside
    = render :partial => "filter_search_form"
  %div.col-md-9.whitewithaside
    - @congressmen.persons.each do | congressman |

      %div.row
        %div.col-md-1
          - if ! congressman.images.blank?
            %img.img-circle.img-responsive{:src=>congressman.images[0].url}
          - else
            %img.img-circle.img-responsive{:src=>'http://placehold.it/200x200'}
        %div.col-md-11
          = link_to congressman.name, congressman_path(congressman.id)

          %p
            %strong
              = t('congressmen.represent')
            = congressman.represent[0].district

    %div.col-md-6
      - if ! @congressmen.prev_url.blank?
        = link_to t('pagination.previous'), congressmen_path + '/?page=' + (@congressmen.page - 1).to_s, :class => 'btn btn-default'
    %div.col-md-6
      - if ! @congressmen.next_url.blank?
        - if @congressmen.has_more
          = link_to t('pagination.next'), congressmen_path + '/?page=' + (@congressmen.page + 1).to_s, :class => 'btn btn-default'