%div
  %ol.breadcrumb
    %li
      = link_to t('layout.home'), root_path
    %li.active
      = t('congressmen.breadcrumb')

%div.row
  %div.col-md-3
    %h2
      = t('congressmen.title')

    = render :partial => "filter_search_form"

  %div.col-md-9
    = render :partial => "box_congressmen_result" 