%div.row
  %div.col-md-8
    %ul.breadcrumb
      %li
        = link_to t('congressmen.home'), root_url
      %li.active
        = @congressman.name
  %div.col-md-4
    %ul.list-inline.action-btn
      %li
        = link_to t("congressmen.askthem"), {controller: "communications", action: "per_person", id: @congressman.id}, class: "btn-warning"
      %li
        - url = 'https://www.facebook.com/sharer/sharer.php?u='+request.original_url
        %a.btn-warning{'href'=>'#', 'onclick'=>'window.open("'+url+'","facebook","width=450, height=250")'}
          %i.fa.fa-facebook 
          = t("congressmen.fb_share")
      %li
        - url = 'https://twitter.com/share?url='+request.original_url+'&hashtags=pmo&text='+@congressman.name
        %a.btn-warning{'href'=>'#', 'onclick'=>'window.open("'+url+'","twitter","width=450, height=250")'}
          %i.fa.fa-twitter 
          = t("congressmen.tw_share")


%div
  %h2
    = @congressman.name
  %h4
    Senador

- if ! @message.nil?
  %div
    última pregunta
    %div
      %div
      = @message.subject
      %div
      = @message.content


%div.row
  %div.col-md-3
    - if ! @congressman.images.blank?
      %img.img-responsive{:src=>@congressman.images[0].url}
    - else
      %img.img-responsive{ 'src' => 'http://placehold.it/230x230'}
    
    - if ! @congressman.represent.blank?
      %p
        = t('congressmen.represent')
        %ul
        - @congressman.represent.each do | r |
          - if ! r.district.blank?
            %li 
              = t('congressmen.district') + r.district
          
          - if ! r.region.blank?
            %li 
              = t('congressmen.region') + r.region

          - if ! r.comunas.blank?
            %li 
              = t('congressmen.comuna') + r.comunas

    - if ! @congressman.parliamentarian_period.blank?
      %p
        = t('congressmen.period')
        %ul
        - @congressman.parliamentarian_period.each do | p |
          - if ! p.date.blank?
            %li 
              = p.date  
        
    - if ! @congressman.memberships.blank?
      %p
        = t('congressmen.party')
        - @organizations.result.each do | o |
          - url = '#';
          -if ! o.links[1].blank?
            - url = @congressman.memberships[0].organization_id == o.id ? o.links[1].url : '#'
          
            %a{ 'href' => url, 'target' => '_blank' }
              = o.name if @congressman.memberships[0].organization_id == o.id
            %i.fa.fa-external-link
    
    - if ! @congressman.commissions.blank?
      %p
        = t('congressmen.commissions')
        %ul
        - @congressman.commissions.each do | c |
          - if ! c.permanent.blank?
            %li 
              = t('congressmen.permanent') + c.permanent  
          
          - if ! c.special.blank?
            %li 
              = t('congressmen.special') + c.special 
          
          - if ! c.researcher.blank?
            %li 
              = t('congressmen.research') + c.researcher 
    
    - if ! @congressman.links.blank?
      %div
        %ul
          - @congressman.links.each do | link |
            %li
              %a{ 'href' => link.url }
                %i.fa.fa-globe
                = link.note
        
    %h5
      = t('congressmen.bio')
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab ut aperiam quae fuga! Dolorum, ex, quos veniam culpa qui explicabo non ullam exercitationem inventore tempora adipisci doloremque facere nisi.

  %div.col-md-9
    %h3
      = t('congressmen.last_initiatives')
    %div.table-responsive
      %table.table
        %tr
          %td
            %img{ 'src' => 'http://placehold.it/35x58' }
          %td
            %h5
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, hic velit repudiandae modi ab provident quibusdam laudantium maxime deserunt asperiores debitis ducimus alias placeat accusamus sit sapiente in eos delectus.
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, placeat, quos, ab eius maxime voluptatibus iure sit ipsam expedita eveniet atque quo voluptas modi eligendi tempore harum aperiam excepturi non.
            %p
              %a{ 'href' => '#' }
                = t('congressmen.view_project')
        %tr
          %td
            %img{ 'src' => 'http://placehold.it/35x58' }
          %td
            %h5
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, hic velit repudiandae modi ab provident quibusdam laudantium maxime deserunt asperiores debitis ducimus alias placeat accusamus sit sapiente in eos delectus.
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, placeat, quos, ab eius maxime voluptatibus iure sit ipsam expedita eveniet atque quo voluptas modi eligendi tempore harum aperiam excepturi non.
            %p
              %a{ 'href' => '#' }
                = t('congressmen.view_project')
        %tr
          %td
            %img{ 'src' => 'http://placehold.it/35x58' }
          %td
            %h5
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, hic velit repudiandae modi ab provident quibusdam laudantium maxime deserunt asperiores debitis ducimus alias placeat accusamus sit sapiente in eos delectus.
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, placeat, quos, ab eius maxime voluptatibus iure sit ipsam expedita eveniet atque quo voluptas modi eligendi tempore harum aperiam excepturi non.
            %p
              %a{ 'href' => '#' }
                = t('congressmen.view_project')
    
    %div.special-box
      %p.question
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, perspiciatis, consequatur non inventore adipisci placeat deleniti animi tempora accusantium ipsa incidunt doloremque ducimus quos dolores minus doloribus debitis. Necessitatibus, impedit.
      %p.answer
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, temporibus, veniam, modi, facere laudantium aliquam facilis officiis aperiam delectus eum sapiente natus harum ut unde quisquam repellat magni expedita sunt.
      %p.total-answers.text-right
        = sprintf( t('congressmen.askthem_responses'), 'Pedro Pablo Alvarez-Salamanca Ramirez', '20', '40' )

    %div.votes.table-responsive
      %h3
        = t('congressmen.votes')
      %table.table
        %tr
          %td
            %img{ 'src' => 'http://placehold.it/35x58' }
          %td
            %p
              %strong
                A FAVOR
              %span.date
                24 de Octubre, 2013
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, reiciendis sunt maiores laudantium eos facere vero. Possimus, odio, nesciunt, facilis, est nostrum temporibus tempora repellendus perferendis enim quisquam voluptatibus vitae.
        %tr
          %td
            %img{ 'src' => 'http://placehold.it/35x58' }
          %td
            %p
              %strong
                A FAVOR
              %span.date
                24 de Octubre, 2013
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, reiciendis sunt maiores laudantium eos facere vero. Possimus, odio, nesciunt, facilis, est nostrum temporibus tempora repellendus perferendis enim quisquam voluptatibus vitae.

    %div.intervencions.table-responsive
      %h3
        = t('congressmen.last_interventions')
      %table.table
        %tr
          %td
            %img{ 'src' => 'http://placehold.it/35x58' }
          %td
            %p
              %strong
                SESIÓN 84
              %span.date
                24 de Octubre, 2013
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, reiciendis sunt maiores laudantium eos facere vero. Possimus, odio, nesciunt, facilis, est nostrum temporibus tempora repellendus perferendis enim quisquam voluptatibus vitae.
        %tr
          %td
            %img{ 'src' => 'http://placehold.it/35x58' }
          %td
            %p
              %strong
                SESIÓN 84
              %span.date
                24 de Octubre, 2013
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, reiciendis sunt maiores laudantium eos facere vero. Possimus, odio, nesciunt, facilis, est nostrum temporibus tempora repellendus perferendis enim quisquam voluptatibus vitae.
        %tr
          %td
            %img{ 'src' => 'http://placehold.it/35x58' }
          %td
            %p
              %strong
                SESIÓN 84
              %span.date
                24 de Octubre, 2013
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, reiciendis sunt maiores laudantium eos facere vero. Possimus, odio, nesciunt, facilis, est nostrum temporibus tempora repellendus perferendis enim quisquam voluptatibus vitae.