%div.row
  %div.col-md-8
    %ul.breadcrumb
      %li
        = link_to 'Portada', root_url
      %li.active
        = @congressman.name
  %div.col-md-4
    %ul.list-inline.action-btn
      %li
        = link_to "Preguntale", {controller: "communications", action: "per_person", id: @congressman.id}, class: "btn-warning"
      %li
        - url = 'https://www.facebook.com/sharer/sharer.php?u='+request.original_url
        %a.btn-warning{'href'=>'#', 'onclick'=>'window.open("'+url+'","facebook","width=450, height=250")'}
          %i.fa.fa-facebook 
          Comparte
      %li
        - url = 'https://twitter.com/share?url='+request.original_url+'&hashtags=pmo&text='+@congressman.name
        %a.btn-warning{'href'=>'#', 'onclick'=>'window.open("'+url+'","twitter","width=450, height=250")'}
          %i.fa.fa-twitter 
          Twittea


%div
  %h2
    = @congressman.name
  %h4
    Senador

- if ! @message.nil?
  %div
    última pregunta
    %div
      %div
      = @message.subject
      %div
      = @message.content


%div.row
  %div.col-md-3
    - if ! @congressman.images.blank?
      %img.img-responsive{:src=>@congressman.images[0].url}
    - else
      %img.img-responsive{ 'src' => 'http://placehold.it/230x230'}
    
    - if ! @congressman.represent.blank?
      %p
        Lugar que representa:
        %ul
        - @congressman.represent.each do | r |
          - if ! r.district.blank?
            %li 
              = 'Distrito: ' + r.district
          
          - if ! r.region.blank?
            %li 
              = 'Región: ' + r.region

          - if ! r.comunas.blank?
            %li 
              = 'Comunas: ' + r.comunas

    - if ! @congressman.parliamentarian_period.blank?
      %p
        Periodo: 
        %ul
        - @congressman.parliamentarian_period.each do | p |
          - if ! p.date.blank?
            %li 
              = p.date  
        
    - if ! @congressman.memberships.blank?
      %p
        Partido:
        - @organizations.result.each do | o |
          - url = '#';
          -if ! o.links[1].blank?
            - url = @congressman.memberships[0].organization_id == o.id ? o.links[1].url : '#'
          
            %a{ 'href' => url, 'target' => '_blank' }
              = o.name if @congressman.memberships[0].organization_id == o.id
            %i.fa.fa-external-link
    
    - if ! @congressman.commissions.blank?
      %p
        Comisiones:
        %ul
        - @congressman.commissions.each do | c |
          - if ! c.permanent.blank?
            %li 
              = 'Permanente: ' + c.permanent  
          
          - if ! c.special.blank?
            %li 
              = 'Especial: ' + c.special 
          
          - if ! c.researcher.blank?
            %li 
              = 'Investigadora: ' + c.researcher 
    
    - if ! @congressman.links.blank?
      %div
        %ul
          - @congressman.links.each do | link |
            %li
              %a{ 'href' => link.url }
                %i.fa.fa-globe
                = link.note
        
    %h5
      Biografía
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab ut aperiam quae fuga! Dolorum, ex, quos veniam culpa qui explicabo non ullam exercitationem inventore tempora adipisci doloremque facere nisi.
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, saepe repellendus officiis nulla dicta qui quas sit placeat distinctio. Dignissimos, fuga expedita sint placeat harum vel atque at reiciendis. Consequatur!
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, exercitationem maxime labore recusandae ut magni quisquam quae quo necessitatibus rerum tempora autem voluptatem molestiae vel rem ad quas eligendi fugit.

  %div.col-md-9
    %h3
      Últimas iniciativas
    %div.table-responsive
      %table.table
        %tr
          %td
            %img{ 'src' => 'http://placehold.it/35x58' }
          %td
            %h5
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, hic velit repudiandae modi ab provident quibusdam laudantium maxime deserunt asperiores debitis ducimus alias placeat accusamus sit sapiente in eos delectus.
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, placeat, quos, ab eius maxime voluptatibus iure sit ipsam expedita eveniet atque quo voluptas modi eligendi tempore harum aperiam excepturi non.
            %p
              %a{ 'href' => '#' }
                Ver proyecto
        %tr
          %td
            %img{ 'src' => 'http://placehold.it/35x58' }
          %td
            %h5
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, hic velit repudiandae modi ab provident quibusdam laudantium maxime deserunt asperiores debitis ducimus alias placeat accusamus sit sapiente in eos delectus.
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, placeat, quos, ab eius maxime voluptatibus iure sit ipsam expedita eveniet atque quo voluptas modi eligendi tempore harum aperiam excepturi non.
            %p
              %a{ 'href' => '#' }
                Ver proyecto
        %tr
          %td
            %img{ 'src' => 'http://placehold.it/35x58' }
          %td
            %h5
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, hic velit repudiandae modi ab provident quibusdam laudantium maxime deserunt asperiores debitis ducimus alias placeat accusamus sit sapiente in eos delectus.
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, placeat, quos, ab eius maxime voluptatibus iure sit ipsam expedita eveniet atque quo voluptas modi eligendi tempore harum aperiam excepturi non.
            %p
              %a{ 'href' => '#' }
                Ver proyecto
    
    %div.special-box
      %p.question
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, perspiciatis, consequatur non inventore adipisci placeat deleniti animi tempora accusantium ipsa incidunt doloremque ducimus quos dolores minus doloribus debitis. Necessitatibus, impedit.
      %p.answer
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, temporibus, veniam, modi, facere laudantium aliquam facilis officiis aperiam delectus eum sapiente natus harum ut unde quisquam repellat magni expedita sunt.
      %p.total-answers.text-right
        Pedro Pablo Alvarez-Salamanca Ramirez ha respondido 999 de las 999 preguntas ciudadanas

    %div.votes.table-responsive
      %h3
        Votaciones
      %table.table
        %tr
          %td
            %img{ 'src' => 'http://placehold.it/35x58' }
          %td
            %p
              %strong
                A FAVOR
              %span.date
                24 de Octubre, 2013
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, reiciendis sunt maiores laudantium eos facere vero. Possimus, odio, nesciunt, facilis, est nostrum temporibus tempora repellendus perferendis enim quisquam voluptatibus vitae.
        %tr
          %td
            %img{ 'src' => 'http://placehold.it/35x58' }
          %td
            %p
              %strong
                A FAVOR
              %span.date
                24 de Octubre, 2013
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, reiciendis sunt maiores laudantium eos facere vero. Possimus, odio, nesciunt, facilis, est nostrum temporibus tempora repellendus perferendis enim quisquam voluptatibus vitae.

    %div.intervencions.table-responsive
      %h3
        Últimas intervenciones
      %table.table
        %tr
          %td
            %img{ 'src' => 'http://placehold.it/35x58' }
          %td
            %p
              %strong
                SESIÓN 84
              %span.date
                24 de Octubre, 2013
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, reiciendis sunt maiores laudantium eos facere vero. Possimus, odio, nesciunt, facilis, est nostrum temporibus tempora repellendus perferendis enim quisquam voluptatibus vitae.
        %tr
          %td
            %img{ 'src' => 'http://placehold.it/35x58' }
          %td
            %p
              %strong
                SESIÓN 84
              %span.date
                24 de Octubre, 2013
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, reiciendis sunt maiores laudantium eos facere vero. Possimus, odio, nesciunt, facilis, est nostrum temporibus tempora repellendus perferendis enim quisquam voluptatibus vitae.
        %tr
          %td
            %img{ 'src' => 'http://placehold.it/35x58' }
          %td
            %p
              %strong
                SESIÓN 84
              %span.date
                24 de Octubre, 2013
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, reiciendis sunt maiores laudantium eos facere vero. Possimus, odio, nesciunt, facilis, est nostrum temporibus tempora repellendus perferendis enim quisquam voluptatibus vitae.