%div.container
  %div
    %ol.breadcrumb
      %li
        = link_to t('layout.home'), root_path
      %li.current
        = t('layout.glossary')

  %div.page-header
    %h2
      = t('layout.glossary')
      %a{:name => ""}

  %nav
    %ul.pagination
      /- ("A".."Z").each do |letter|
      - tmp_previous_letter = String.new
      - tmp_letter = String.new
      - @glossaries.each do |letter|
        - tmp_letter = letter.term[0].downcase
        - if tmp_letter != tmp_previous_letter
          - tmp_previous_letter = tmp_letter
          %li
            %a{:href => "#"+tmp_letter}
              = letter.term[0]

  - tmp_previous_letter = String.new
  - tmp_letter = String.new
  - @glossaries.each do |glossary|
    - tmp_letter = glossary.term[0].downcase
    - if tmp_letter != tmp_previous_letter
      - tmp_previous_letter = tmp_letter
      %a{:name => tmp_letter}
      %h3.text-center
        = tmp_letter.upcase

    %p.palabra
      %strong= glossary.term + ':'
      = glossary.definition
