%div.container
  %div.page-header
    %h2= t('users.users')
  %div.row
    %div.col-md-12
      %div.table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th #
              %th Email
              %th= t('users.show')
              %th= t('users.edit') 
              %th= t('users.delete') 
          %tbody
            - @users.each do |user|
              %tr
                %td= user.id
                %td= user.email
                %td
                  = link_to user do 
                    %i.fa.fa-eye{title: t('users.show')}
                %td
                  = link_to edit_user_path(user) do
                    %i.fa.fa-pencil-square-o{title: t('users.edit')}
                %td
                  = link_to user, :confirm => "Are you sure?", :method => :delete do
                    %i.fa.fa-trash-o{title: t('users.delete')}
