- if !document['chamber'].blank?
  %strong= t 'document.chamber'
  = document['chamber']
  %br/
/ - if !document['created_at'].blank?
/   %strong= t 'document.created_at'
/   = DateTime.parse(document['created_at']).to_date.to_s
/   %br/
- if !document['date'].blank?
  %strong= t 'document.date'
  = DateTime.parse(document['date']).to_date.to_s 
  %br/
- if !document['event'].blank?
  %strong= t 'document.event'
  = document['event']
  %br/
- if !document['number'].blank?
  %strong= t 'document.number'
  = document['number']
  %br/
- if !document['stage'].blank?
  %strong= t 'document.stage'
  = document['stage']
  %br/
- if document['step'].match(/[a-z\d]+/)
  %strong= t 'document.step'
  = document['step']
  %br/
- if !document['type'].blank?
  %strong= t 'document.type'
  = document['type']
  %br/
/ - if !document['updated_at'].blank?
/   %strong= t 'document.updated_at'
/   = DateTime.parse(document['updated_at']).to_date.to_s
/   %br/
%br/