/ %strong Chamber:
/ = document['chamber']
/ %br/
/ %strong Created at:
/ = DateTime.parse(document['created_at']).to_date.to_s
/ %br/
%strong Date:
= DateTime.parse(document['date']).to_date.to_s
%br/
/ %strong Event:
/ = document['event']
/ %br/
%strong Number:
= document['number']
%br/
%strong Stage:
= document['stage']
%br/
%strong Step:
= document['step']
%br/
%strong Type:
= document['type']
%br/
/ %strong Updated at:
/ = document['updated_at']
/ %br/
%br/