%table.table.table-striped.table-bordered
  - if !event.chamber.blank?
    %tr
      %td{'style'=>'width:10%'}
        %strong= t 'event.chamber'
      %td
        = event.chamber

  - if !event.date.blank?
    %tr
      %td
        %strong= t 'event.date'
      %td
        = DateTime.parse(event.date).to_date.to_s

  - if !event.description.blank?
    %tr
      %td
        %strong= t 'event.description'
      %td
        = event.description

  - if event.session.match(/[a-z\d]+/)
    %tr
      %td
        %strong= t 'event.session'
      %td
        = event.session

  - if !event.stage.blank?
    %tr
      %td
        %strong= t 'event.stage'
      %td
        = event.stage