- if !event['chamber'].blank?
  %strong= t 'event.chamber'
  = event['chamber']
  %br/
/ - if !event['created_at'].blank?
/   %strong= t 'event.created_at'
/   = DateTime.parse(event['created_at']).to_date.to_s
/   %br/
- if !event['date'].blank?
  %strong= t 'event.date'
  = DateTime.parse(event['date']).to_date.to_s
  %br/
- if !event['description'].blank?
  %strong= t 'event.description'
  = event['description']
  %br/
- if event['session'].match(/[a-z\d]+/)
  %strong= t 'event.session'
  = event['session']
  %br/
- if !event['stage'].blank?
  %strong= t 'event.stage'
  = event['stage']
  %br/
/ - if !event['updated_at'].blank?
/   %strong= t 'event.updated_at'
/   = event['updated_at']
/   %br/
%br/