= form_tag({controller: "bills", action: "searches"}, :method => 'get', :name => 'bills_search', :id => 'bills_search') do
  %div.form-group
    = label_tag :q, 'Palabra clave'
    %input.form-control{:name=>'q', :id=>'q', 'value' => params[:q], :placeholder => t('search.placeholder_search_for'), :onfocus => "ga('send','bills_filters','focus_search')"}

  %div.form-group
    = label_tag :bill_id, t('search.bulletin')
    = text_field_tag :bill_id, params[:bill_id], :class => 'form-control', :placeholder => t('search.placeholder_bulletin'), :onfocus => "ga('send','bills_filters','focus_bulletin')"

  %div.form-group
    = label_tag :authors, t('search.author')
    - if params[:authors] == nil
      - params[:authors] = ""
    %div
      %input{"type" => "text", "value" => params[:authors], "class" => "form-control", "id" => "authors", "name" => "authors", "placeholder" => t('search.placeholder_author'), :autocomplete=>"off"}

  %div.form-group
    = label_tag :stage, t('search.stage')
    %select{:name => "stage", :class => "form-control", :onfocus => "ga('send','bills_filters','focus_stage')"}
      %option{:value => "", selected: params[:stage] == ""}= t 'search.all_the_stages'
      - @stages = Billit::Bill.class_variable_get(:@@stage_valid_values)
      - if @stages != nil
        - @stages.each do |stage|
          %option{:value => stage, selected: params[:stage] == stage}= stage

  /
    %div.form-group
      = label_tag :bill_type, t('search.bill_type')
      %select{:name => "status", :class => "form-control", :onfocus => "ga('send','bills_filters','focus_type')"}
        %option{:value => "", selected: params[:initial_chamber] == ""}= t 'search.all_the_types'
        %option{:value => "Publicado", selected: params[:initial_chamber] == "Publicado"}= 'Ley'
        %option{:value => "En tramitación", selected: params[:initial_chamber] == "En tramitación"}= 'Proyecto de ley'

  %div.form-group
    = label_tag :initial_chamber, t('search.initial_chamber')
    %select{:name => "initial_chamber", :class => "form-control", :onfocus => "ga('send','bills_filters','focus_chamber')"}
      %option{:value => "", selected: params[:initial_chamber] == ""}= t 'search.all_the_chambers'
      - @chambers = Billit::Bill.class_variable_get(:@@initial_chamber_valid_values)
      - if @chambers != nil
        - @chambers.each do |chamber|
          %option{:value => chamber, selected: params[:initial_chamber] == chamber}= chamber

  %div.form-group
    = label_tag :current_priority, t('search.current_priority')
    %select{:name => "current_priority[]", :class => "form-control chosen", :multiple => "multiple", :'data-placeholder' => t('search.placeholder_priority'), :onfocus => "ga('send','bills_filters','focus_priority')"}
      %option{:value => "", selected: params[:current_priority] == ""}
      - @priorities = Billit::Bill.class_variable_get(:@@current_priority_valid_values)
      - if @priorities != nil
        - @priorities.each do |priority|
          - if !params[:current_priority].blank?
            - params[:current_priority].each do |priority_in_param|
              - if priority_in_param == priority
                %option{:value => priority, selected: "selected"}= priority
          - else
            %option{:value => priority}= priority

  - presets = preset_queries
  - if presets != nil
    %div.form-group
      = label_tag :initial_chamber, t('search.predefined_queries')
      %select{:name => "predefined_queries", :class => "form-control", :onfocus => "ga('send','bills_filters','focus_predefined_queries')"}
        %option{:value => "", selected: params[:predefined_queries] == ""}= t 'search.predefined_queries'
        - if presets != nil
          - presets.each do |key, value|
            %option{:value => value, selected: params[:predefined_queries] == value}= key

  %div.form-group
    = label_tag :creation_date_min, t('search.creation_date_min')
    - if !params[:predefined_queries].nil?
      - params[:predefined_queries].split('&').each do |param|
        - if param.include? 'creation_date_min'
          - params[:creation_date_min] = param.split('=')[1]
    - if params[:creation_date_min] == nil
      - params[:creation_date_min] = ENV['parliaments_initial_date']
    %div
      %input{"type" => "date", "value" => params[:creation_date_min], "min" => params[:creation_date_min], "name" => "creation_date_min", "class" => "form-control", "onfocus" => "ga('send','bills_filters','focus_min_date')"}

  %div.form-group
    = label_tag :creation_date_max, t('search.creation_date_max')
    - if !params[:predefined_queries].nil?
      - params[:predefined_queries].split('&').each do |param|
        - if param.include? 'creation_date_max'
          - params[:creation_date_max] = param.split('=')[1]
    - if params[:creation_date_max] == nil
      - params[:creation_date_max] = Date.today.to_s
    %div
      %input{"type" => "date", "value" => params[:creation_date_max], "min" => ENV['parliaments_initial_date'], "name" => "creation_date_max", "class" => "form-control", "onfocus" => "ga('send','bills_filters','focus_max_date')"}

  %input{"type" => "hidden", "name" => "bills", "value" => "1"}

  %button.btn.btn-primary.pull-right.btn-lg
    Buscar
