%div{ 'data-sort' => motion.date.to_time.to_i }
  %div.timeline-container.col-md-1
    = image_tag("statusicon/vote.png" , class:"hidden-xs", title:'Votación')
  %div.bill_header.col-md-11
    %h5
      = t('bill.vote')
    %p.light
      = localize motion.date.to_date, :format => :long
    %p
      = motion.text
    - if ! motion.requirement.blank?
      %p
        %b
          = t('bill.quorum')
        = motion.requirement

    - total = 0
    - motion.vote_events.each do |votes|
      - votes.counts.each do |vote|
        - total = vote.value + total

      %div
        %a{'href' => '#', 'data-toggle' => 'modal', 'data-target' => '#myModal'+motion.date.to_time.to_i.to_s}
          = t('bill.view_detail_of_the_vote')

    %div.progress
      - motion.vote_events.each do |votes|
        - votes.counts.each do |vote|
          - porcent = (vote.value*100/total.to_f).round.to_s

          - if vote.option.downcase == 'si'
            - bar_class = ' progress-bar-success'
          - if vote.option.downcase == 'no'
            - bar_class = ' progress-bar-danger'
          - if vote.option.downcase == 'abstencion'
            - bar_class = ' progress-bar-warning'
          - if vote.option.downcase == 'pareo'
            - bar_class = ' progress-bar-info'

          %div{:class => "progress-bar #{bar_class}", :style => "width: #{porcent}%"}
            %h5
              = (vote.value*100/total.to_f).round.to_s + '% '
    %h5.light
      %ul.list-inline
        - motion.vote_events.each do |votes|
          - votes.counts.each do |vote|
            %li
              = vote.option
              = vote.value

      %div
        %div.modal.fade{'id' => 'myModal'+motion.date.to_time.to_i.to_s, 'tabindex'=>'-1', 'role'=>'dialog', 'aria-labelledby'=>'myModalLabel', 'aria-hidden'=>'true'}
          %div.modal-dialog.modal-lg
            %div.modal-content
              %div.modal-header
                %button{'type'=>'button', 'class'=>'close', 'data-dismiss'=>'modal', 'aria-hidden'=>'true'}
                  &times;
                %h4.modal-title#myModalLabel
                  = t('bill.votings')
              %div.modal-body
                %table.table.table-bordered
                  %thead
                    %tr
                      %th
                        %i.fa.fa-check
                        = t('bill.vote_option_in_favor')
                      %th
                        %i.fa.fa-times
                        = t('bill.vote_option_against')
                      %th
                        %i.fa.fa-minus
                        = t('bill.vote_option_abstain')
                      %th
                        %i.fa.fa-minus
                        = t('bill.vote_option_paired')
                  %tbody
                    - motion.vote_events.each do |v|
                      - v.votes.sort! { |x,y| x.voter_id <=> y.voter_id }
                      - v.votes.each do |voter|
                        %tr
                          %td
                            - if voter.option.downcase == 'si'
                              = voter.voter_id
                          %td
                            - if voter.option.downcase == 'no'
                              = voter.voter_id
                          %td
                            - if voter.option.downcase == 'abstencion'
                              = voter.voter_id
                          %td
                            - if voter.option.downcase == 'pareo'
                              = voter.voter_id