%table.table.table-striped.table-bordered
  - if !paperwork.chamber.blank?
    %tr
      %td{'style'=>'width:10%'}
        %strong= t 'paperwork.chamber'
      %td
        = paperwork.chamber

  - if !paperwork.date.blank?
    %tr
      %td
        %strong= t 'paperwork.date'
      %td
        = DateTime.parse(paperwork.date).to_date.to_s

  - if !paperwork.description.blank?
    %tr
      %td
        %strong= t 'paperwork.description'
      %td
        = paperwork.description

  - if paperwork.session.match(/[a-z\d]+/)
    %tr
      %td
        %strong= t 'paperwork.session'
      %td
        = paperwork.session

  - if !paperwork.stage.blank?
    %tr
      %td
        %strong= t 'paperwork.stage'
      %td
        = paperwork.stage