%table.table.table-striped.table-bordered
  - if !priority['entry_chamber'].blank?
    %tr
      %td{'style'=>'width:20%'}
        %strong= t 'priority.entry_chamber'
      %td
        = priority['entry_chamber']

  - if !priority['entry_date'].blank?
    %tr
      %td
        %strong= t 'priority.entry_date'
      %td
        = DateTime.parse(priority['entry_date']).to_date.to_s

  - if !priority['entry_message'].blank?
    %tr
      %td
        %strong= t 'priority.entry_message'
      %td
        = priority['entry_message']

  - if !priority['type'].blank?
    %tr
      %td
        %strong= t 'priority.type'
      %td
        = priority['type']

  - if !priority['withdrawal_chamber'].blank?
    %tr
      %td
        %strong= t 'priority.withdrawal_chamber'
      %td
        = priority['withdrawal_chamber']

  - if !priority['withdrawal_date'].blank?
    %tr
      %td
        %strong= t 'priority.withdrawal_date'
      %td
        = DateTime.parse(priority['withdrawal_date']).to_date.to_s

  - if !priority['withdrawal_message'].blank?
    %tr
      %td
        %strong= t 'priority.withdrawal_message'
      %td
        = priority['withdrawal_message']
