/ %strong= t 'report.created_at'
/ = DateTime.parse(report['created_at']).to_date.to_s
/ %br/
%strong= t 'report.date'
= DateTime.parse(report['date']).to_date.to_s
%br/
%strong= t 'report.stage'
= report['stage']
%br/
%strong= t 'report.step'
= report['step']
%br/
/ %strong= t 'report.updated_at'
/ = report['updated_at']
/ %br/
%br/