/ - if !urgencie['created_at'].blank?
/   %strong= t 'urgencie.created_at'
/   = DateTime.parse(urgencie['created_at']).to_date.to_s
/   %br/
- if !urgencie['entry_chamber'].blank?
  %strong= t 'urgencie.entry_chamber'
  = urgencie['entry_chamber']
  %br/
- if !urgencie['entry_date'].blank?
  %strong= t 'urgencie.entry_date'
  = DateTime.parse(urgencie['entry_date']).to_date.to_s
  %br/
- if !urgencie['entry_message'].blank?
  %strong= t 'urgencie.entry_message'
  = urgencie['entry_message']
  %br/
- if !urgencie['type'].blank?
  %strong= t 'urgencie.type'
  = urgencie['type']
  %br/
/ - if !urgencie['updated_at'].blank?
/   %strong= t 'urgencie.updated_at'
/   = DateTime.parse(urgencie['updated_at']).to_date.to_s
/   %br/
- if !urgencie['withdrawal_chamber'].blank?
  %strong= t 'urgencie.withdrawal_chamber'
  = urgencie['withdrawal_chamber']
  %br/
- if !urgencie['withdrawal_date'].blank?
  %strong= t 'urgencie.withdrawal_date'
  = DateTime.parse(urgencie['withdrawal_date']).to_date.to_s
  %br/
- if !urgencie['withdrawal_message'].blank?
  %strong= t 'urgencie.withdrawal_message'
  = urgencie['withdrawal_message']
  %br/
%br/