%table.table.table-striped.table-bordered
  - if !urgencie['entry_chamber'].blank?
    %tr
      %td{'style'=>'width:20%'}
        %strong= t 'urgencie.entry_chamber'
      %td
        = urgencie['entry_chamber']

  - if !urgencie['entry_date'].blank?
    %tr
      %td
        %strong= t 'urgencie.entry_date'
      %td
        = DateTime.parse(urgencie['entry_date']).to_date.to_s

  - if !urgencie['entry_message'].blank?
    %tr
      %td
        %strong= t 'urgencie.entry_message'
      %td
        = urgencie['entry_message']

  - if !urgencie['type'].blank?
    %tr
      %td
        %strong= t 'urgencie.type'
      %td
        = urgencie['type']

  - if !urgencie['withdrawal_chamber'].blank?
    %tr
      %td
        %strong= t 'urgencie.withdrawal_chamber'
      %td
        = urgencie['withdrawal_chamber']

  - if !urgencie['withdrawal_date'].blank?
    %tr
      %td
        %strong= t 'urgencie.withdrawal_date'
      %td
        = DateTime.parse(urgencie['withdrawal_date']).to_date.to_s

  - if !urgencie['withdrawal_message'].blank?
    %tr
      %td
        %strong= t 'urgencie.withdrawal_message'
      %td
        = urgencie['withdrawal_message']
