%h1= t 'advanced_search.advanced_search'
= form_tag('/advanced_search', :method => 'get') do
  = label_tag :q, t('advanced_search.search_for')
  = text_field_tag :q, params[:q]
  = label_tag :uid, t('advanced_search.bulletin')
  = text_field_tag :uid, params[:uid]
  = label_tag :stage, t('advanced_search.stage')
  = text_field_tag :stage, params[:stage]
  = label_tag :creation_date_min, t('advanced_search.creation_date_min')
  = text_field_tag :creation_date_min, params[:creation_date_min]
  = label_tag :creation_date_max, t('advanced_search.creation_date_max')
  = text_field_tag :creation_date_max, params[:creation_date_max]
  = label_tag :origin_chamber, t('advanced_search.origin_chamber')
  = text_field_tag :origin_chamber, params[:origin_chamber]
  = submit_tag t 'search.search'

%h1=t '.title', :default => 'Bill'

- if @query != nil
  %p= t('pagination.page') + @query.current_page.to_s + t('pagination.of') + @query.total_pages.to_s + ',' + t('pagination.with') + @query.total_entries.to_s + t('pagination.results')
  = link_to(t('pagination.previous'), url_for(action:'advanced_search') + '?' + get_params(@query.previous)) + ' | ' if @query.previous
  = link_to(t('pagination.next'), url_for(action:'advanced_search') + '?' + get_params(@query.next)) if @query.next

%table.table.table-striped
  %thead
    %tr
      %th= t 'bill.bulletin'
      %th= t 'bill.title'
      %th= t 'bill.stage'
      %th= t 'bill.creation_date'
      %th= t 'bill.publish_date'
      %th= t 'bill.chamber'
  %tbody
  - if @query != nil
    - @bills = @query.bills
    - @bills.each do |bill|
      %tr
        %td= bill.uid
        %td= link_to bill.title, '/bill/' + bill.uid
        %td= bill.stage
        %td= DateTime.parse(bill.creation_date).to_date.to_s
        %td= 'Pendiente'
        %td= bill.origin_chamber
- if @query != nil
  %p
    =link_to(t('pagination.previous'), url_for(action:'advanced_search') + '?' + get_params(@query.previous)) + ' | ' if @query.previous
    =link_to(t('pagination.next'), url_for(action:'advanced_search') + '?' + get_params(@query.next)) if @query.next

/           = link_to t('.destroy', :default => t("helpers.links.destroy")), fruit_path(fruit), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'

/ = link_to t('.new', :default => t("helpers.links.new")), new_fruit_path, :class => 'btn btn-primary'
