%div.page-header
  %h1= t 'advanced_search.advanced_search'

= render :partial => "search_form"

- if @query != nil
  %div.page-header
    %h1{name: "result"}=t '.title', :default => 'Bill'

  %div.row
    %div.col-md-4
      %i.fa.fa-download
      = link_to t('search.download_as_excel'), params.merge(:format => :xls)
    
    %div.col-md-4
      %p= t('pagination.page') + @query.current_page.to_s + t('pagination.of') + @query.total_pages.to_s + ',' + t('pagination.with') + @query.total_entries.to_s + t('pagination.results')
    
    %div.col-md-4
      %div.row
        %div.col-md-6
          %button.btn.btn-default
            %i.fa.fa-chevron-left
            = link_to(t('pagination.previous'), url_for(action:'advanced_search') + '?' + get_params(@query.previous) + '#result')  if @query.previous
        %div.col-md-6
          %button.btn.btn-default
            = link_to(t('pagination.next'), url_for(action:'advanced_search') + '?' + get_params(@query.next) + '#result')  if @query.next
            %i.fa.fa-chevron-right

  %div.table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th= t 'bill.bulletin'
          %th= t 'bill.title'
          %th= t 'bill.creation_date'
          %th= t 'bill.state'
          %th= t 'bill.chamber'

      %tbody
      - @bills = @query.bills
      - @bills.each do |bill|
        %tr
          %td= bill.uid
          %td= link_to bill.title, '/bills/' + bill.uid
          %td= DateTime.parse(bill.creation_date).to_date.to_s
          %td= bill.state
          %td= bill.origin_chamber

  
  %div.row
    %div.col-md-4
      %i.fa.fa-download
      = link_to t('search.download_as_excel'), params.merge(:format => :xls)
    
    %div.col-md-4
      %p= t('pagination.page') + @query.current_page.to_s + t('pagination.of') + @query.total_pages.to_s + ',' + t('pagination.with') + @query.total_entries.to_s + t('pagination.results')
    
    %div.col-md-4
      %div.row
        %div.col-md-6
          %button.btn.btn-default
            %i.fa.fa-chevron-left
            = link_to(t('pagination.previous'), url_for(action:'advanced_search') + '?' + get_params(@query.previous) + '#result')  if @query.previous
        %div.col-md-6
          %button.btn.btn-default
            = link_to(t('pagination.next'), url_for(action:'advanced_search') + '?' + get_params(@query.next) + '#result')  if @query.next
            %i.fa.fa-chevron-right