%h1= t 'advanced_search.advanced_search'
= form_tag('/advanced_search', :method => 'get') do
  = label_tag :q, t('advanced_search.search_for')
  = text_field_tag :q, params[:q]
  = label_tag :bill_id, t('advanced_search.bulletin')
  = text_field_tag :bill_id, params[:bill_id]
  = label_tag :stage, t('advanced_search.stage')
  %select{:name => "stage"}
    %option{:value => "", selected: params[:stage] == ""}= 'Todas las etapas'
    %option{:value => "Primer trámite constitucional", selected: params[:stage] == "Primer trámite constitucional"}= 'Primer trámite constitucional'
    %option{:value => "Segundo trámite constitucional", selected: params[:stage] == "Segundo trámite constitucional"}= 'Segundo trámite constitucional'
    %option{:value => "Tercer trámite constitucional", selected: params[:stage] == "Tercer trámite constitucional"}= 'Tercer trámite constitucional'
    %option{:value => "Archivado", selected: params[:stage] == "Archivado"}= 'Archivado'
    %option{:value => "Tramitación terminada", selected: params[:stage] == "Tramitación terminada"}= 'Tramitación terminada'
  = label_tag :origin_chamber, t('search.bill_type')
  %select{:name => "state"}
    %option{:value => "", selected: params[:origin_chamber] == ""}= 'Todos los tipos'
    %option{:value => "Publicado", selected: params[:origin_chamber] == "Publicado"}= 'Ley'
    %option{:value => "En tramitación", selected: params[:origin_chamber] == "En tramitación"}= 'Proyecto de ley'
  = label_tag :creation_date_min, t('advanced_search.creation_date_min')
  = text_field_tag :creation_date_min, params[:creation_date_min]
  = label_tag :creation_date_max, t('advanced_search.creation_date_max')
  = text_field_tag :creation_date_max, params[:creation_date_max]
  = label_tag :origin_chamber, t('advanced_search.origin_chamber')
  %select{:name => "origin_chamber"}
    %option{:value => "", selected: params[:origin_chamber] == ""}= 'Ambas cámaras'
    %option{:value => "Senado", selected: params[:origin_chamber] == "Senado"}= 'Senado'
    %option{:value => "C.Diputados", selected: params[:origin_chamber] == "C.Diputados"}= 'C.Diputados'
  = label_tag :origin_chamber, t('search.current_urgency')
  %select{:name => "current_urgency"}
    %option{:value => "", selected: params[:current_urgency] == ""}= 'Todas las urgencias'
    %option{:value => "Sin urgencia", selected: params[:current_urgency] == "Sin urgencia"}= 'Sin urgencia'
    %option{:value => "Simple", selected: params[:current_urgency] == "Simple"}= 'Simple'
    %option{:value => "Suma urgencia", selected: params[:current_urgency] == "Suma urgencia"}= 'Suma urgencia'
    %option{:value => "Discusion inmediata", selected: params[:current_urgency] == "Discusion inmediata"}= 'Discusion inmediata'
  = submit_tag t 'search.search'

%h1=t '.title', :default => 'Bill'
= link_to t('search.download_as_excel'), params.merge(:format => :xls)

- if @query != nil
  %p= t('pagination.page') + @query.current_page.to_s + t('pagination.of') + @query.total_pages.to_s + ',' + t('pagination.with') + @query.total_entries.to_s + t('pagination.results')
  = link_to(t('pagination.previous'), url_for(action:'advanced_search') + '?' + get_params(@query.previous)) + ' | ' if @query.previous
  = link_to(t('pagination.next'), url_for(action:'advanced_search') + '?' + get_params(@query.next)) if @query.next

%table.table.table-striped
  %thead
    %tr
      %th= t 'bill.bulletin'
      %th= t 'bill.title'
      %th= t 'bill.creation_date'
      %th= t 'bill.state'
      %th= t 'bill.chamber'
  %tbody
  - if @query != nil
    - @bills = @query.bills
    - @bills.each do |bill|
      %tr
        %td= bill.uid
        %td= link_to bill.title, '/bills/' + bill.uid
        %td= DateTime.parse(bill.creation_date).to_date.to_s
        %td= bill.state
        %td= bill.origin_chamber
- if @query != nil
  %p
    =link_to(t('pagination.previous'), url_for(action:'advanced_search') + '?' + get_params(@query.previous)) + ' | ' if @query.previous
    =link_to(t('pagination.next'), url_for(action:'advanced_search') + '?' + get_params(@query.next)) if @query.next

/           = link_to t('.destroy', :default => t("helpers.links.destroy")), fruit_path(fruit), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'

/ = link_to t('.new', :default => t("helpers.links.new")), new_fruit_path, :class => 'btn btn-primary'
