/ %h1 Show

%h1=t '.title', :default => 'Bill'
%table.table.table-striped
  %thead
    %tr
      %th= 'Bulletin'
      %th= 'Title'
      %th= 'Stage'
      %th= 'Creation date'
      %th= 'Publish date'
      %th= 'Chamber'
  %tbody
    %tr
      %td= @bill.uid
      %td= @bill.title
      %td= @bill.stage
      %td= DateTime.parse(@bill.creation_date).to_date.to_s
      %td= 'Otro oli'
      %td= @bill.origin_chamber

/           = link_to t('.destroy', :default => t("helpers.links.destroy")), fruit_path(fruit), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'

/ = link_to t('.new', :default => t("helpers.links.new")), new_fruit_path, :class => 'btn btn-primary'
