%section#graph
  - if ! @bill.paperworks.blank?
    %h4{name:'timeline'}
      HISTORIA DEL PROYECTO
      
      = link_to 'Descargar historial', params.merge(:format => :xls)
    
    %div.row.visible-xs
      %div.col-xs-5
        %button.down.btn
          %i.fa.fa-chevron-circle-down
          Más recientes
      %div.col-xs-5
        %button.up.btn
          %i.fa.fa-chevron-circle-up
          Menos reciente
    
    %div.pull-right.hidden-xs
      Invertir orden temporal
      %a.down{'href'=>'#'}
        %i.fa.fa-chevron-circle-down
      %a.up{'href'=>'#'}
        %i.fa.fa-chevron-circle-up
    
    %div#timeline.row
      - @bill.paperworks.each_with_index do | paperwork, index |
        %div{ 'data-sort' => index.to_s }
          %div.timeline-container.col-md-1
            = image_tag("statusicon/" + paperwork.icon_event, class:"hidden-xs")
          %div.resume.col-md-11
            %h5
              = paperwork.description
            %p.light
              = localize paperwork.date.to_date, :format => :long

            %p
              = paperwork.stage
            
            - if paperwork.chamber.length > 1
              %p
                Cámara:
                %strong
                  = paperwork.chamber

            - if paperwork.session.length > 1
              %p
                Sesión:
                %strong
                  = paperwork.session

:javascript
  $('.up').on('click', function(e){
    e.preventDefault();
    $("div#timeline>div").tsort({order:'asc', data:'sort'});
  });

  $('.down').on('click', function(e){
    e.preventDefault();
    $("div#timeline>div").tsort({order:'desc', data:'sort'});
  });