:javascript
  var billuid = '#{@bill.uid}';

  window.onload = function () {
    if(typeof window.generateGraph == 'function') {
      generateGraph(#{@date_freq});
    }
  }

%div
  %h3.page-header
    =@bill.title
%div.row
  %div.col-md-9
    %p{:style=>'font-style: italic; font-size:16px;'}
      =@bill.abstract
    %div.row
      %div.col-md-2
        %strong
          Boletín:
      %div.col-md-10
        =@bill.uid
    %div.row
      %div.col-md-2
        %strong
          Materias:
      %div.col-md-10
        %ul.list-inline
          - @matters = @bill.subject_areas
          =render partial: "matter", collection: @matters
    %div.row
      %div.col-md-2
        %strong
          Tags:
      %div.col-md-10
        %ul.list-inline
          - if !@bill.tags.blank?
            - @bill.tags.each do |tag|
              %li
                %span.label.label-info= tag
    %p
      %a{:href=>'#'}
        %i.fa.fa-download
        Descargar
    
  %div.col-md-3
    %div{:style=>'border: 1px solid #ccc; border-radius: 5px;'}
      %ul{:style=>'list-style:none;'}
        %li
          %i.fa.fa-bell
          Suscríbete
        %li
          %i.fa.fa-facebook
          Comparte
        %li
          %i.fa.fa-twitter
          %a{'href'=>'#', 'onclick' => "window.open('https://twitter.com/share?text="+@bill.title+"&hashtags=PMO','Twitter','width=500,height=280')"}
            Twitea
        %li
          %i.fa.fa-thumbs-up
            23
          %i.fa.fa-thumbs-down
            15

%div
  %h3.page-header
    Avances
  %canvas#myChartInt{'height'=>"80",'width'=>'750', 'style'=>'width:100%'}

%script{'src'=>"http://www.chartjs.org/assets/Chart.js"}
:javascript
  window.onload = function(){
    
    var freq = #{@date_freq};
    generateGraph(freq,'myChartInt');

    $(".showmebutton").click(function() {
      $( ".showmecontent" ).toggle();
    });
  }

%div
  %div.text-right
    /.dropup
    %a.showmebutton{'href'=>'#'}
      ver más
      %span.caret 
  %div.showmecontent{'style' => 'display:none;'}
    %ul.nav.nav-tabs
      - if !@bill.authors.blank?
        %li.active
          %a{'href'=>'#tab01', 'data-toggle'=>'tab'}
            Autores
      - if !@bill.paperworks.blank?
        %li
          %a{'href'=>'#tab02', 'data-toggle'=>'tab'}
            Eventos
      - if !@bill.priorities.blank?
        %li
          %a{'href'=>'#tab03', 'data-toggle'=>'tab'}
            Urgencias
      - if !@bill.reports.blank?
        %li
          %a{'href'=>'#tab04', 'data-toggle'=>'tab'}
            Reportes
      - if !@bill.revisions.blank?
        %li
          %a{'href'=>'#tab05', 'data-toggle'=>'tab'}
            Revisiones
      - if !@bill.documents.blank?
        %li
          %a{'href'=>'#tab06', 'data-toggle'=>'tab'}
            Documentos
      - if !@bill.directives.blank?
        %li
          %a{'href'=>'#tab07', 'data-toggle'=>'tab'}
            Indicaciones

    %div.tab-content
      / autores
      - if !@bill.authors.blank?
        %div.tab-pane.active#tab01
          - @author = @bill.authors
          %ul
            = render partial: "author", collection: @author
      / eventos
      - if !@bill.paperworks.blank?
        %div.tab-pane#tab02
          - @events = @bill.paperworks
          = render partial: "event", collection: @events
      / urgencias
      - if !@bill.priorities.blank?
        %div.tab-pane#tab03
          - @urgencies = @bill.priorities
          = render partial: "urgencie", collection: @urgencies
      / reportes
      - if !@bill.reports.blank?
        %div.tab-pane#tab04
          %table.table
            %tr
              - @reports = @bill.reports
              %td= render partial: "report", collection: @reports
      / modificaciones
      - if !@bill.revisions.blank?
        %div.tab-pane#tab05
          %table.table
            %tr
              - @modifications = @bill.revisions
              %td= render partial: "modification", collection: @modifications
      / documentos
      - if !@bill.documents.blank?
        %div.tab-pane#tab06
          %table.table
            %tr
              - @documents = @bill.documents
              %td= render partial: "document", collection: @documents
      / indicaciones
      - if !@bill.directives.blank?
        %div.tab-pane#tab07
          %table.table
            %tr
              - @instructions = @bill.directives
              %td= render partial: "instruction", collection: @instructions

%div
  %h3.page-header
    Votaciones
  =render partial: "chamber_votes"
  