%section#graph
  %div.row
    %div.col-md-3
      - if ! @bill.paperworks.blank?
        %h4{name:'timeline'}
          EVENTOS DEL PROYECTO
    %div.col-md-9.links-paperworks-action
      - if ! @bill.paperworks.blank?
        %ul.list-inline
          %li
            = link_to url_for :controller => 'bills', :action=>'show', :id=>@bill.uid, :format => 'xls' do
              Descargar historial
              %i.fa.fa-download
          %li
            %a{'href'=>'#', 'data-toggle'=>'modal', 'data-target'=>'#Documents'}
              Ver documentos
              %i.fa.fa-file
      
      %div.modal.fade#Documents{'tabindex'=>'-1', 'role'=>'dialog', 'aria-labelledby'=>'myModalLabel', 'aria-hidden'=>'true'}
        %div.modal-dialog.modal-lg
          %div.modal-content
            %div.modal-header
              %button.close{'type'=>'button', 'data-dismiss'=>'modal', 'aria-hidden'=>'true'}
                &times;
              %h4.modal-title#myModalLabel
                Documentos Boletín 
                = @bill.uid
            %div.modal-body

              - if ! @bill.reports.blank?
                %h5
                  Informes
                %table.table.table-striped
                  %tr
                    %th
                      Fecha
                    %th
                      Trámite
                  - @bill.reports.each do | rep |
                    - if ! rep.link.blank?
                      %tr
                        %td
                          - if ! rep.date.blank?
                            = localize rep.date.to_date
                        %td
                          %a{'href'=>rep.link}
                            = rep.step
                        
              - if ! @bill.documents.blank?
                %h5
                  Oficios
                %table.table.table-striped
                  %tr
                    %th
                      Fecha
                    %th
                      Trámite
                  - @bill.documents.each do | doc |
                    - if ! doc.link.blank?
                      %tr
                        %td
                          - if ! doc.date.blank?
                            = localize doc.date.to_date
                        %td
                          %a{'href'=>doc.link}
                            = doc.step
              
              - if ! @bill.directives.blank?
                %h5
                  Indicaciones
                %table.table.table-striped
                  %tr
                    %th
                      Fecha
                    %th
                      Trámite
                  - @bill.directives.each do | dir |
                    - if ! dir.link.blank?
                      %tr
                        %td
                          - if ! dir.date.blank?
                            = localize dir.date.to_date
                        %td
                          %a{'href'=>dir.link}
                            = dir.step
              
              - if ! @bill.revisions.blank?
                %h5
                  Comparados
                %table.table.table-striped
                  %tr
                    %th
                      Trámite
                  - @bill.revisions.each do | rev |
                    - if ! rev.link.blank?
                      %tr
                        %td
                          %a{'href'=>rev.link}
                            = rev.description

    
  - if ! @bill.paperworks.blank?
    %div.row.visible-xs
      %div.col-xs-5
        %button.down.btn
          %i.fa.fa-chevron-circle-down
          Más recientes
      %div.col-xs-5
        %button.up.btn
          %i.fa.fa-chevron-circle-up
          Menos reciente
    
    %div.pull-right.hidden-xs
      Invertir orden temporal
      %a.down{'href'=>'#'}
        %i.fa.fa-chevron-circle-down
      %a.up{'href'=>'#'}
        %i.fa.fa-chevron-circle-up
  
  %div#timeline.row
    - @bill.paperworks.each_with_index do | paperwork, index |
      %div{ 'data-sort' => index.to_s }
        %div.timeline-container.col-md-1
          = image_tag("statusicon/" + paperwork.icon_event, class:"hidden-xs")
        %div.resume.col-md-11
          %h5
            = paperwork.description
          %p.light
            = localize paperwork.date.to_date, :format => :long

          %p
            = paperwork.stage
          
            - if paperwork.chamber.length > 1
              • Cámara:
              = paperwork.chamber

            - if paperwork.session.length > 1
              • Sesión:
              = paperwork.session

:javascript
  $('.up').on('click', function(e){
    e.preventDefault();
    $("div#timeline>div").tsort({order:'asc', data:'sort'});
  });

  $('.down').on('click', function(e){
    e.preventDefault();
    $("div#timeline>div").tsort({order:'desc', data:'sort'});
  });