%section#graph
  :javascript
    freq = #{@date_freq};
  
  = javascript_include_tag 'svg/jquery.svg.min.js'
  = javascript_include_tag 'svg/jquery.svgdom.min.js'
  = javascript_include_tag 'svg/jquery.svganim.min.js'
  = javascript_include_tag 'svg/graph-bill.js'

  %div.row
    %div.col-md-9
      %h3
        Título Gráfico
    %div.col-md-3
      %p
        Descargar historial
        %i.fa.fa-download
  %div
    %svg.graph{'version'=>'1.1', 'xmlns:xlink'=>"http://www.w3.org/1999/xlink", 'xmlns'=>"http://www.w3.org/2000/svg", 'width'=>"700", 'height'=>"200"}
      /radial gradient
      %defs
        %radialGradient#gradientShadow{'cx'=>'50%', 'cy'=>'50%', 'fx'=>'50%', 'fy'=>'50%', 'r'=>'55%'}
          %stop{'offset'=>'0%', 'style'=>'stop-color:rgb(0,0,0); stop-opacity:1'}
          %stop{'offset'=>'100%', 'style'=>'stop-color:#AAA; stop-opacity:0'}
      /surface
      %g.surfaces
        %path#first_set.first_set
      /grid lines
      %use.grid.double{'xlink:href'=>'#xGrid','style'=>''}
      %use.grid.double{'xlink:href'=>'#yGrid','style'=>''}
      /points
      %g#points.first_set.points{'data-setname'=>'set de datos'}
      /labels
      %g.labels.x-labels
        
      %g.labels.y-labels
        %text{'x'=>'90', 'y'=>'20'}
          nro eventos
        %text{'x'=>'80', 'y'=>'0'}
          10
        %text{'x'=>'80', 'y'=>'40'}
          8
        %text{'x'=>'80', 'y'=>'80'}
          6
        %text{'x'=>'80', 'y'=>'120'}
          4
        %text{'x'=>'80', 'y'=>'160'}
          2
        %text{'x'=>'80', 'y'=>'200'}
          0

    %div#tooltip
      %svg
        %polygon#tooltip-triangle{'points'=>'0,0 11,13 0,13'}
      %p#tooltip-title
      %div.value
        %span.value-part
        %span.value-total
          eventos
  /the graph
  
  %div#timeline
    - cnt = 0
    - while cnt < 6
      %div.timeline-container
        %div.status
          %img{'src'=>'http://placehold.it/50x50'}
        %div.resume
          %h4
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, eum, esse in consectetur libero obcaecati
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, doloribus porro aperiam a soluta natus repellat perferendis rerum fuga neque vero delectus quae magnam. Quisquam quo velit expedita fuga nam?
          - if cycle('odd', 'even') == 'odd'
            - green = "width:" + rand(30...50).to_s + "%"
            - yellow = "width:" + rand(20...35).to_s + "%"
            - red = "width:" + rand(10...30).to_s + "%"
            
            %div.progress
              %div.progress-bar.progress-bar-success{"style" => green}
                %span.sr-only
                  35% Complete (success)
              %div.progress-bar.progress-bar-warning{"style" => yellow}
                %span.sr-only
                  20% Complete (warning)
              %div.progress-bar.progress-bar-danger{"style" => red}
                %span.sr-only
                  45% Complete (danger)
          - cnt += 1

  %p.showmore.text-center
    %i#showicon.fa.fa-chevron-down

:css
  .showmore {
    background-color: #CCC;
  }
  .showless {
    background-color: #CCC;
  }
  #timeline {
    height: 100px;
    overflow: hidden;
  }

:javascript
  $('#graph').on('click', 'p.showmore', function(){
    $('#timeline').css('height', 'auto');
    $('#timeline').css('overflow', 'visible');
    $(this).attr('class','showless');
    $(this).addClass('text-center');
    $('#showicon').attr('class','fa fa-chevron-up');
  });

  $('#graph').on('click', 'p.showless', function(){
    $('#timeline').css('height', '100px');
    $('#timeline').css('overflow', 'hidden');
    $(this).attr('class','showmore');
    $(this).addClass('text-center');
    $('#showicon').attr('class','fa fa-chevron-down');
  })
  