= form_for @table do |f|
  - if @table.errors.any?
    #error_explanation
      %h2= "#{pluralize(@table.errors.count, "error")} prohibited this table from being saved:"
      %ul
        - @table.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
