%h1.page-header
  Tablas

%table.table.table-striped
  %tr
    %th= t('agendas.chamber')
    %th= t('agendas.date')
    %th= t('agendas.bills')
  
  - @agendas.each do |agenda|
    %tr
      %td= agenda['chamber']
      %td= agenda['date']
      %td
        - JSON.parse(agenda['bill_list']).uniq.each do |bill|
          = link_to bill, bill_path(bill)
  