%div.col-md-3
  %div.boxdisplay
    %h5.bill-id.light 
      = hot_bill.uid
    %p.hidden-xs.subscription
      = link_to (new_user_subscription_path(:bill => hot_bill.uid)) do
        %i.fa.fa-star-o{title: t('bill.subscribe')}
    %h5.bill-title
      = link_to truncate(hot_bill.title, :length => 160), t('routes.bills') + '/' + hot_bill.uid
    -if !hot_bill.current_priority.blank?
      %p.label.label-danger
        = hot_bill.current_priority
    %p.bill-stage
      = hot_bill.stage
    - if !hot_bill.tags.blank?
      %ul.list-inline.tags
        - hot_bill.tags.each do |tag|
          %li.label-default
            = tag

- if hot_bill_counter == 3
  .row.hidden-xs
