- if @answers and !@answers.objects.blank?
  %h3.text-center.title-last-responses
    = t('main.last_questions')
  %div.row
    - @answers.objects.each do |answer|
      - message = LegislativeMessageRepresenter.get(answer.message_id)
      %div.col-md-6.home-answers-wraper
        %div.home-answers
          %div.col-md-2
            - congressman = congressmen_profile(answer.person.name)
            - if !congressman['image'].blank?
              - fantasy_name = congressmen_pic(answer.person.name, congressman['image'])
              = image_tag(fantasy_name+'.jpg', class: "img-circle img-responsive hidden-xs")
              = image_tag(fantasy_name+'.jpg', class: "img-thumbnail img-responsive visible-xs")
            - else
              = image_tag('default-profile.png', class: "img-circle img-responsive hidden-xs")
              = image_tag('default-profile.png', class: "img-thumbnail img-responsive visible-xs")
          %div.col-md-10
            %p.light
              - if message.subject.length > 8
                = message.subject + '. ' + truncate(message.content, :length => 160)
              - else
                = truncate(message.content, :length => 160)
            %p
              = answer.content
          %p.text-right
            %span
              = answer.person.name.concat('. ')
              /= link_to url_for(:controller => 'communications', :action => 'per_person', :id => congressman['id']) do
              = link_to communications_path + '/' + t('routes.per_person') + '?id=' + congressman['id'].to_s do
                = t('main.view_more_questions')
        %i.fa.fa-quote-right.fa-2x
