= render :partial => "search"
= render :partial => "social_network_box"
- if ENV['component_legislative_hot_bills']
  = render :partial => "hot"

%div.container
  %div.row
    %div
      - flash.each do |name, msg|
        %div.alert.alert-info
          %button.close{:'aria-hidden' => 'true', :'data-dismiss' => 'alert'}
            &times;
          = content_tag :div, msg, :id => "flash_#{name}"

  %section#board
    - if ENV['component_legislative_agendas'] and !ENV['agendas_url'].blank? and !ENV['billit_url'].blank? and !@low_chamber_agenda[1].blank? or !@high_chamber_agenda[1].blank?
      %h3.text-center.txt-board 
        = t('main.discussion_agendas')
      %p.text-center.table-subtitle
        = link_to t('main.view_the_agenda'), agendas_path
      %div.row
        = render :partial => "latest_agendas"

  - if ENV['component_writeit']
    %section#last-responses.hidden-xs
      = render :partial => "latest_messages"
