= render :partial => "search"
= render :partial => "social_network_box"
= render :partial => "hot"

%div.container
  %div.row
    %div
      - flash.each do |name, msg|
        %div.alert.alert-info
          %button.close{:'aria-hidden' => 'true', :'data-dismiss' => 'alert'}
            &times;
          = content_tag :div, msg, :id => "flash_#{name}"

  %section#board
    %h3.text-center.txt-board 
      = t('main.discussion_agendas')
    %p.text-center
      = link_to t('main.view_the_agenda'), agendas_path
    %div.row
      - if ENV['agendas_enabled'] == true
        = render :partial => "latest_agendas"

  - if ENV['writeit_enabled'] == true
    %section#last-responses.hidden-xs
      = render :partial => "latest_messages"
