%section#board
  %h3.text-center.txt-board 
    = t('main.discussion_agendas')
  %p.text-center
    = link_to t('main.view_the_agenda'), agendas_path
  %div.row
    = render :partial => "latest_agendas"

%section#last-responses.hidden-xs
  %h3.text-center.title-last-responses
    = t('main.last_responses')
  %div.row
    = render :partial => "latest_messages"