%section#board
  %h3.text-center.txt-board 
    = t('main.discussion_agendas')
  %div.row
    %div.col-md-6
      %table.table.table-striped.tablas
        %thead
          %tr
            %th{:colspan=>"3"}
              %h4.table-title
                = t('main.high_chamber_agenda')
        %tbody
    /       - @high_chamber_agendas.each do |high_chamber_agenda|
    /         %tr
    /           %td
    /             %p.light
    /               = high_chamber_agenda['uid']
    /           %td
    /             %strong
    /               = link_to (t('main.session') + ' ' + high_chamber_agenda['session'] + 'ª, ' + t('main.legislature') + ' ' + high_chamber_agenda['legislature']), tables_path
    /             %p
    /               = localize high_chamber_agenda['date'].to_date, :format => :long
    /             /%td
    /             /put here a notification counter
    /             /%a{href: "/"}
    /             /%i.fa.fa-bell-o

    / %div.col-md-6
    /   %table.table.table-striped.tablas
    /     %thead
    /       %tr
    /         %th{:colspan=>"3"}
    /           %h4.table-title
    /             = t('main.low_chamber_agenda')
    /     %tbody
    /       - @low_chamber_agendas.each do |low_chamber_agenda|
    /         %tr
    /           %td
    /             %p.light
    /               = low_chamber_agenda['uid']
    /           %td
    /             %strong
    /               = link_to (t('main.session') + ' ' + low_chamber_agenda['session'] + 'ª, ' + t('main.legislature') + ' ' + low_chamber_agenda['legislature']), tables_path
    /             %p
    /               = localize low_chamber_agenda['date'].to_date, :format => :long
    /             %td
    /             put here a notification counter
    /             %a{href: "/"}
    /             %i.fa.fa-bell-o

%section#last-responses
  %h3.title-last-responses 
    = t('main.last_responses')
  %div.row
    %div.col-md-6.home-answers-wraper
      %div.home-answers
        %div.col-md-2  
          %img.img-responsive{:src=>'http://placehold.it/200x200'}
        %div.col-md-10
          %p.light
            ¿Quiero saber qué acciones va a tomar Ud. señor senador en cuanto a las va a tomar Ud. señor senador en cuantva a tomar Ud. señor senador en cuantciclovías?
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, porro, architecto totam incidunt alias animi recusandae ipsam illum omnis sunt voluptatem exercitationem quasi quae doloribus aliquid! Dolorum, rerum quaerat dolor!
        %p.text-right
          Juanito Perez. 
          %a{href: "/"} 
            = t('main.view_more_questions')
      %i.fa.fa-quote-right.fa-2x
    %div.col-md-6.home-answers-wraper
      %div.home-answers
        %div.col-md-2  
          %img.img-responsive{:src=>'http://placehold.it/200x200'}
        %div.col-md-10
          %p.light
            ¿Quiero saber qué acciones va a tomar Ud. señor senador en cuanto a las va a tomar Ud. señor senador en cuantva a tomar Ud. señor senador en cuantciclovías?
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, porro, architecto totam incidunt alias animi recusandae ipsam illum omnis sunt voluptatem exercitationem quasi quae doloribus aliquid! Dolorum, rerum quaerat dolor!
        %p.text-right
          Juanito Perez. 
          %a{href: "/"}
            = t('main.view_more_questions')
      %i.fa.fa-quote-right.fa-2x
