- @congressmen.result.each do | congressman |
  %div.row
    %div.col-md-1
      - if ! congressman.images.blank?
        - fantasy_name = congressmen_pic(congressman.name, congressman.images[0].url)
        = image_tag('congressman/'+fantasy_name+'.jpg', class: "img-circle img-responsive hidden-xs")
        = image_tag('congressman/'+fantasy_name+'.jpg', class: "img-thumbnail img-responsive visible-xs")
      - else
        = image_tag('default-profile.png', class: "img-circle img-responsive hidden-xs")
        = image_tag('default-profile.png', class: "img-thumbnail img-responsive visible-xs")
    %div.col-md-10
      %h5
        = link_to congressman.name, congressman_path(congressman.id)
      %p
        = congressman.title
        %br/
        - if ! congressman.represent[0].region.blank?
          %span.light
            = t('search.represent')
          = congressman.represent[0].region
      %p
        = link_to url_for(controller: "communications", action: "index", id: congressman.id) do
          %i.fa.fa-envelope-o
          = sprintf( t('search.askthem'), congressman.name)
  