%div
  %ol.breadcrumb
    %li
      = link_to "Portada", root_path
    %li.active
      Búsqueda

%div.row
  %div.col-md-3
    = render :partial => "simple_search_form"
    
  %div.col-md-9
    /loop for bills
    - if params[:bills] == '1' || @bills_query.bills.count > 0
      %div
        %div.row
          %div.col-md-10
            %h3 
              Proyectos de ley
          %div.col-md-2
            = link_to 'Búsqueda Avanzada', searches_bills_path, class: 'btn btn-default btn-xs'
            
        - @bills = @bills_query.bills
        = render :partial => "box_bills_result" 
    - else
      %div
        %p
          No se encontraron proyectos de ley relacionados a tu búsqueda
    /end of loop

    /loop for congressmen
    - if params[:congressmen] == '2' || @congressmen.persons.count > 0
      %div
        %div.row.header-congressmen
          %div.col-md-10
            %h3 
              Congresistas
          %div.col-md-2
            = link_to 'Búsqueda Avanzada', searches_congressmen_path, class: 'btn btn-default btn-xs'

        = render :partial => "box_congressmen_result"
    - else
      %div
        %p
          No se encontraron congresistas relacionados a tu búsqueda
    /end of loop