%div
  %ol.breadcrumb
    %li
      = link_to t('layout.home'), root_path
    %li.active
      = t('search.search_title')

%div.row
  %div.col-md-3
    = render :partial => "simple_search_form"
    
  %div.col-md-9
    /loop for bills
    - if params[:bills] == '1' || @bills_query.bills.count > 0
      %div
        %div.row
          %div.col-md-10
            %h3 
              = t('search.bills')
          %div.col-md-2
            = link_to t('search.bills_advanced_search'), searches_bills_path, class: 'btn btn-default btn-xs'
            
        - @bills = @bills_query.bills
        = render :partial => "box_bills_result" 
    - else
      %div
        %h3 
          = t('search.bills')
        %p
          = t('search.there_are_no_results')
          %strong 
            = params[:q]
    /end of loop

    /loop for congressmen
    - if params[:congressmen] == '2' || @congressmen.persons.count > 0
      %div
        %div.row.header-congressmen
          %div.col-md-10
            %h3 
              = t('search.congressmen')
          %div.col-md-2
            = link_to t('search.congressmen_advanced_search'), searches_congressmen_path, class: 'btn btn-default btn-xs'

        = render :partial => "box_congressmen_result"
    - else
      %div
        %h3 
          = t('search.congressmen')
        %p
          = t('search.there_are_no_results')
          %strong 
            = params[:q]
    /end of loop