%div
  %ol.breadcrumb
    %li
      = link_to 'Portada', root_path
    %li.active
      = t('layout.communication')

%div.row.page-header
  %h2
    = t('layout.communication')

%section#communication
  %div.panel.panel-default
    %div.form-comunication.panel-body
      = form_tag  :method => 'POST' do
        = field_set_tag do
          %div.row{'style'=>'background-color:#3E1F3E'}
            %div.col-md-3.message-box-left
              %div.form-group
                %label{:for=>"author_name"}
                  = t('communication.name')
                %div.input-group
                  = text_field_tag :author_name, nil ,:class => "form-control", :placeholder=>t('communication.name')
                  %span.input-group-addon
                    %i.fa.fa-user
              %div.form-group
                %label{:for=>"author_name"}
                  = t('communication.email')
                %div.input-group
                  = text_field_tag :author_email, nil ,:class => "form-control",:placeholder=>t('communication.email')
                  %span.input-group-addon
                    %i.fa.fa-envelope-o

              %div.form-group.tab-content
                %label{:for=>"author_name"}
                  = t('communication.choose_congressmen')
                %select.form-control.chosen{:multiple => "multiple", :name => "recipients[]", :'data-placeholder' => t('communication.choose_congressmen')}
                  - @congressmen.persons.each do |congressmen|
                    - url = URI.parse(congressmen.popit_api_uri)
                    - compare_path = url.path.split('/')
                    - if compare_path[4] == params[:id]
                      %option{:value => congressmen.popit_api_uri, :selected => 'selected'}
                        =congressmen.name 
                    - else
                      %option{:value => congressmen.popit_api_uri}
                        =congressmen.name 

            %div.col-md-9.message-box-right.tituloFormulario
              %h4
                = t('communication.writte_message')
              
              %div.form-group
                = text_field_tag :subject, nil ,:class => "form-control", :placeholder=>t('communication.subject')
              %div.form-group
                = text_area_tag :content, nil ,:class => "form-control", :placeholder=>t('communication.message'), :rows => '6'
              %div.text-right
                = submit_tag t('communication.send'), :class => "btn btn-success"


%section#responses
  %div.row.page-header
    %h3
      = t('communication.list_messages')
  

  - @messages.objects.each do |message|
    %div.row.preguntasRespuestas
      %h5
        = message.subject
      %p 
        %span.light
          Katherina Malis preguntó:
        = message.content
      %ul.list-inline
        %li
          %span.light
            Pregunta hecha a:
        %li
          %a
            Giorgio Jakson
        %li
          %a
            Perioc Los Palotes
      %div.row
        %div.col-md-1  
          = image_tag('default-profile.png', class: "img-circle img-responsive") 
        %div.col-md-11
          %p
            %i.fa.fa-quote-left.light
            Respuesta Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %i.fa.fa-quote-right.light
          %p.text-right
            %a
              Giogio Jakson


  %div.text-center
    %ul.pagination
      %li
        %a{:href=>'#'}
          &laquo;


      - (1..@pagination['total_pages']).each do |page|
        %li.active
          %a{:href=>'?page=' + page.to_s}
            = page
      
      %li.disabled
        %a{:href=>'#'}
          &raquo;

%script{src: "http://cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.jquery.min.js"}
:javascript
  $(document).ready(function(){
    $(".chosen").chosen();
    $('.per_person').popover({
      'trigger':'hover',
      'html':true,
      'placement':'top',
      'delay': { show: 0, hide: 1000 }
    })
  })
  