%div.page-header
  %h2 Comunicación

%section#communication
  %div.panel.panel-default
    %div.panel-body
      = form_tag  :method => 'POST' do
        = field_set_tag do
          %div.row
            %div.col-md-6
              %div.form-group
                = text_field_tag :subject, nil ,:class => "form-control", :placeholder=>"Título de tu mensaje"
              %div.form-group
                = text_area_tag :content, nil ,:class => "form-control", :placeholder=>"Contenido del mensaje"
              %div.form-group
                = text_field_tag :author_name, nil ,:class => "form-control", :placeholder=>"Tu nombre"
              %div.form-group
                = text_field_tag :author_email, nil ,:class => "form-control",:placeholder=>"Tu email"
            %div.col-md-6
              %p
                Ingresa con qué candidatos quieres comunicarte:
              
              %div.tab-content
                %select.form-control.chosen{:multiple => "multiple", :name => "recipients[]"}
                  - @parliamentarians.persons.each do |parliamentarians|
                    %option{:value => parliamentarians.popit_api_uri}
                      =parliamentarians.name

        %div.text-right
        = submit_tag 'Enviar', :class => "btn btn-success"

%section#responses
  %div.page-header
    %h3
      Mensajes enviados

  - @messages.objects.each do |message|
    %div.panel.panel-default
      %div.panel-heading
        =message.subject
        %h4
          =message.content
  %div.text-center
    %ul.pagination
      %li
        %a{:href=>'#'}
          &laquo;
      %li.active
        %a{:href=>'#'}
          1
      %li
        %a{:href=>'#'}
          2
      %li
        %a{:href=>'#'}
          3
      %li
        %a{:href=>'#'}
          4
      %li
        %a{:href=>'#'}
          5
      %li.disabled
        %a{:href=>'#'}
          &raquo;


%script{src: "http://cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.jquery.min.js"}
:javascript
  $(document).ready(function(){
    $(".chosen").chosen();
  })