%div.container
  %div
    %ol.breadcrumb
      %li
        = link_to t('layout.home'), root_path
      %li.active
        = t('layout.communication')

  %div.page-header
    %h2
      = t('layout.communication')

    %h2
      = @person.name

  %section#responses
    %div.page-header
      %h3
        = t('communication.list_messages')
    %div.panel.panel-default

      - @messages.objects.each do |message|
        %div.panel-heading
          %h4
            - if message.subject.length > 8
              = message.subject
            - else
              = t('communication.untitled')
        %div.panel-body
          %p
            = message.content