<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= sprintf( t('email.body_header'), @user.username ) %></h1>
    <p>
      <%= sprintf( t('email.body_content'), @bill) %>
      <%= link_to('acá!', controller: 'user_subscriptions', action: 'confirmed', ajax: 'false', email_token: @user_subscription.email_token, host: ENV['root_url']) %>
    </p>
    <p>
      Para acceder a todos los Proyectos de ley a los que te encuentras suscrito, visita 
      <%= link_to 'este enlace', ENV['root_url'] + user_path(Base64.encode64(@user.email)) %>
    </p>
    <p>
      Visítanos en <%= @url %>
    </p>
    <p><%= t('email.body_footer') %></p>
  </body>
</html>